@import 'buttons';

.layout_container {
  max-width: $v-max-width-2k;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
  z-index: 10;

  > header {
    position: relative;
    min-height: 500px;
  }

  > section {
    min-height: 500px;
  }
}
