.primary_btn {
  height: 50px;
  padding: 20px;
  border: solid $c-chicken-secondary-light 3px;
  color: $c-chicken-secondary-light;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.primary_btn:hover {
  border: solid $c-chicken-primary-light 3px;
  color: $c-chicken-primary-light;
  transition: 0.3s;
}
