@mixin default_black_title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  background-color: $c-chicken-primary-light;

  h1 {
    color: $c-chicken-secondary-dark;
    font-size: min(max(10vw, 12px), 70px);
    font-family: marcheile;
    padding-bottom: 30px;
    text-align: center;
  }

  p {
    color: $c-black-secondary;
    font-weight: bold;
    text-align: center;
  }
}
