// Viewport queries
$v-max-mobile-width: 768px;
$v-max-tablet-width: 1280px;
$v-max-desktop-width: 2048px;

// Colors
$c-chicken-primary-light: #ffdb00;
$c-chicken-primary-dark: rgb(253, 156, 20);
$c-chicken-secondary-light: #479cd5;
$c-chicken-secondary-dark: #225193;
$c-black: #000000;
$c-black-secondary: #252525;
$c-white: #fff;
$c-white-secondary: #efefef;

// Typography
$f-roboto-family: 'Roboto', sans-serif;
$f-montserrat-family: 'Montserrat', sans-serif;
